

    <div class="max-w-sm border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 m-3"
    [ngClass]="{'bg-blue-300' : personaje()?.gender === 'Male' , 'bg-fuchsia-300' : personaje()?.gender === 'Female' }">
        <a href="#">
        <img class="rounded-t-lg" [src]=" personaje()?.image " alt="" />
    </a>
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ personaje()?.name }}</h5>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{ personaje()?.gender }} </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> {{ personaje()?.created }} </p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            eliminar

        </a>
    </div>
    </div>





